.footer.jumbotron {
  margin-bottom: 0;
}

#copyright {
  background-color: #003054;
  color: #ffffff;
  padding: 2rem 3rem;
}

#copyright a {
  color: #ffffff;
}

#copyright a:hover {
  color: #ccc;
}

#copyright #social-media a {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  background: #ffffff;
  transition: .4s ease;
}

#copyright #social-media a i {
  color: #003054;
  font-size: 1.2rem;
  line-height: 40px;
}

#copyright #social-media a.facebook:hover {
  background: #1B74E4;
}

#copyright #social-media a.twitter:hover {
  background: #1AA9E1;
}

#copyright #social-media a.youtube:hover {
  background: #f00;
}

#copyright #social-media a:hover i {
  color: #ffffff;
}